$baseFontFamily: oxygen; 
@import url(http://fonts.googleapis.com/css?family=Oxygen);
@import 'bootstrap';
@import 'bootstrap-responsive';

.img-responsive {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  background-position: center;
}

.container {
  margin-bottom: 60px;
  margin-right: auto !important;
  margin-left: auto !important;
}

.form {
  max-width: 65% !important;
  margin-left: auto; 
  margin-right: auto;
  margin-top: 40px;
}

.h1 { 
  text-align: center;
  margin-left: auto !important;
  margin-right: auto !important;
}

.well {
  padding-top: 60px;
  margin-right: auto;
  margin-left: auto;
  background-color: #ffffff;
  border-style: none !important;
  border-color: #ffffff;
  border-top-style: none !important;

} 
      
.links {
  text-decoration: none !important;
  color: #FFFFFF;
  text-decoration: underline !important;
  &:hover {
  color: #ddc92a;
  }
}

.footer{
  margin-top: 50px;
  color: $grayLight;
  a{
  color: $gray;
  }
}